body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Hide overflow to prevent scrollbars from appearing */
  /*background: linear-gradient(45deg, #B2C8DF, #6E85B7, #B2C8DF, #6E85B7); */
  background: linear-gradient(45deg, #e19c95, #FEBFD2, #e19c95, #FEBFD2,);
  
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.App {
  text-align: center;
}

h1 {
  color: #fff; /* Set h1 text color to white */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Add text shadow for better contrast */
  animation: slideIn 0.5s ease forwards; /* Adjust duration and timing function as needed */
}

.bubbles-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Adjust the top margin as needed */
}

.bubble {
  width: 150px;
  height: 100px;
  
  /*background: linear-gradient(135deg, rgba(52, 152, 219, 0.6) 0%, rgba(52, 152, 219, 0.3) 100%);*/
  color: #fff;
  border-radius: 6px;
  background-color: rgba(196, 215, 224, 0.2);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3em;
  font-weight: 500;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  animation: slideIn 0.5s ease forwards; /* Adjust duration and timing function as needed */
}

.bubble div {
  margin: 0;
  animation: slideIn 0.5s ease forwards; /* Adjust duration and timing function as needed */
}


.total-calls {
  color: #fff; /* Set Total Calls text color to white */
  font-size: 24px; /* Set font size to make it larger */
  margin-top: 20px; /* Adjust top margin as needed */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}



/* Define the animation for slide and opacity increase */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px); /* Adjust the value for desired starting position */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to all elements with a class of 'animate-on-appear' */

/* Optionally, you can add a delay to stagger the animation for each element */
.animate-on-appear:nth-child(odd) {
  animation-delay: 0.1s; /* Adjust the delay time for a staggered effect */
}
.animate-on-appear:nth-child(even) {
  animation-delay: 0.2s; /* Adjust the delay time for a staggered effect */
}
